In [1]:
import pandas as pd
import numpy as np

## Q1. Pandas version

What version of Pandas did you install?

In [2]:
pd.__version__

'2.3.2'

## Q2. Records count

How many records are in the dataset?

In [3]:
df = pd.read_csv("car_fuel_efficiency.csv")

In [4]:
df.shape[0]

9704

## Q3. Fuel types

How many fuel types are presented in the dataset?

In [5]:
df["fuel_type"].nunique()

2

## Q4. Missing values

How many columns in the dataset have missing values?

In [6]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

## Q5. Max fuel efficiency

What's the maximum fuel efficiency of cars from Asia?

In [7]:
df[df["origin"] == "Asia"]["fuel_efficiency_mpg"].max()

23.759122836520497

## Q6. Median value of horsepower

1. Find the median value of the `horsepower` column in the dataset.
2. Next, calculate the most frequent value of the same `horsepower` column.
3. Use the `fillna` method to fill the missing values in the `horsepower` column with the most frequent value from the previous step.
4. Now, calculate the median value of `horsepower` once again.

In [8]:
median = df["horsepower"].median()

mode = df["horsepower"].mode()[0]

median

149.0

In [9]:
df["horsepower"] = df["horsepower"].fillna(mode)
median = df["horsepower"].median()
median

152.0

## Q7. Sum of weights

1. Select all the cars from Asia
2. Select only columns `vehicle_weight` and `model_year`
3. Select the first 7 values
4. Get the underlying NumPy array. Let's call it `X`.
5. Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.
6. Invert `XTX`.
7. Create an array `y` with values `[1100, 1300, 800, 900, 1000, 1100, 1200]`.
8. Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
9. What's the sum of all the elements of the result?

In [10]:
X = df[df["origin"] == "Asia"][["vehicle_weight", "model_year"]].head(7).values

In [11]:
XTX = X.T @ X
inv  = np.linalg.inv(XTX)
y = [1100, 1300, 800, 900, 1000, 1100, 1200]
w = (inv @ X.T * y).sum()

print(f"The sum of all the elements of the result {w}")

The sum of all the elements of the result 0.5187709081074009